#e3 {
    font-size: 14pt;
    font-family: "CMR12";
    font-weight: normal;
    color: red;
    }
#e4 {
    font-size: 14pt;
    font-family: "CMR12";
    font-weight: normal;
    color: red;
    }
#e6 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e7 {
    font-size: 7pt;
    font-family: "CMR7";
    font-weight: normal
    }
#e8 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e9 {
    font-size: 7pt;
    font-family: "CMR7";
    font-weight: normal
    }
#e10 {
    font-size: 7pt;
    font-family: "CMSY7";
    font-weight: normal
    }
#e11 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e12 {
    font-size: 7pt;
    font-family: "CMR7";
    font-weight: normal
    }
#e13 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e14 {
    font-size: 7pt;
    font-family: "CMR7";
    font-weight: normal
    }
#e16 {
    font-size: 6pt;
    font-family: "CMTI7";
    font-weight: normal
    }
#e17 {
    font-size: 8pt;
    font-family: "CMTI8";
    font-weight: normal
    }
#e19 {
    font-size: 6pt;
    font-family: "CMTI7";
    font-weight: normal
    }
#e20 {
    font-size: 8pt;
    font-family: "CMTI8";
    font-weight: normal
    }
#e22 {
    font-size: 6pt;
    font-family: "CMTI7";
    font-weight: normal
    }
#e23 {
    font-size: 8pt;
    font-family: "CMTI8";
    font-weight: normal
    }
#e25 {
    font-size: 6pt;
    font-family: "CMTI7";
    font-weight: normal
    }
#e26 {
    font-size: 8pt;
    font-family: "CMTI8";
    font-weight: normal
    }
#e28 {
    font-size: 10pt;
    font-family: "CMBX10";
    font-weight: normal
    }
#e30 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e31 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e32 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e33 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e34 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e35 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e36 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e37 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e38 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e39 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e40 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e41 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e42 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e43 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e45 {
    font-size: 6pt;
    font-family: "CMSY6";
    font-weight: normal
    }
#e46 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e48 {
    font-size: 8pt;
    font-family: "CMTI8";
    font-weight: normal
    }
#e49 {
    font-size: 8pt;
    font-family: "CMTT8";
    font-weight: normal
    }
#e50 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e51 {
    font-size: 8pt;
    font-family: "CMTT8";
    font-weight: normal
    }
#e52 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e53 {
    font-size: 8pt;
    font-family: "CMTT8";
    font-weight: normal
    }
#e54 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e55 {
    font-size: 8pt;
    font-family: "CMTT8";
    font-weight: normal
    }
#e56 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e58 {
    font-size: 8pt;
    font-family: "CMTI8";
    font-weight: normal
    }
#e59 {
    font-size: 8pt;
    font-family: "CMTT8";
    font-weight: normal
    }
#e60 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e62 {
    font-size: 6pt;
    font-family: "CMR6";
    font-weight: normal
    }
#e63 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e65 {
    font-size: 8pt;
    font-family: "CMTI8";
    font-weight: normal
    }
#e66 {
    font-size: 6pt;
    font-family: "CMTI7";
    font-weight: normal
    }
#e67 {
    font-size: 8pt;
    font-family: "CMTI8";
    font-weight: normal
    }
#e70 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e71 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e72 {
    font-size: 10pt;
    font-family: "CMTI10";
    font-weight: normal
    }
#e73 {
    font-size: 10pt;
    font-family: "CMTT10";
    font-weight: normal
    }
#e74 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e75 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e77 {
    font-size: 10pt;
    font-family: "CMBX10";
    font-weight: normal
    }
#e79 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e80 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e81 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e82 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e83 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e84 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e86 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e87 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e88 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e89 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e90 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e91 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e92 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e93 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e94 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e95 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e96 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e97 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e98 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e99 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e101 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e103 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e106 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e107 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e108 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e110 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e111 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e112 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e113 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e114 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e115 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e116 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e118 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e119 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e120 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e122 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e123 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e124 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e125 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e126 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e127 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e128 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e129 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e130 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e132 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e133 {
    font-size: 10pt;
    font-family: "CMSY10";
    font-weight: normal
    }
#e134 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e136 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e139 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e140 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e141 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e142 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e143 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e144 {
    font-size: 8pt;
    font-family: "CMR8";
    font-weight: normal
    }
#e145 {
    font-size: 10pt;
    font-family: "CMSY10";
    font-weight: normal
    }
#e146 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e147 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e148 {
    font-size: 10pt;
    font-family: "CMSY10";
    font-weight: normal
    }
#e149 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e150 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e151 {
    font-size: 10pt;
    font-family: "CMSY10";
    font-weight: normal
    }
#e152 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e153 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e155 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e156 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e157 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e159 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e162 {
    font-size: 10pt;
    font-family: "CMBX10";
    font-weight: normal
    }
#e164 {
    font-size: 10pt;
    font-family: "CMTI10";
    font-weight: normal
    }
#e166 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e167 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e168 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e169 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e170 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e171 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e172 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e173 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e174 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e175 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e176 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e177 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e178 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e179 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e181 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e182 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e183 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e184 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
#e186 {
    font-size: 10pt;
    font-family: "CMR10";
    font-weight: normal
    }
